body {
  background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.App {
  
  border:1px outset ;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  margin: 2.5% auto;
  height: 90vh;
  border-radius: 8px;

 
}
.Done {
  text-decoration: line-through;
}
.text-imput{
  margin-top: 20px;
  background: border-box;
  color: #ffffffa6;
  border-top: none;
  width: 200px;
  padding: 5px;
}
.input {

background: border-box;

}
.input-item {
  outline: none;
  
  padding: 14px 32px 14px 16px;
  background: transparent;
  width: 28vw;
  border-radius: 4px 0 0 4px;
  color: white;
}






.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.icon {
  margin-top: 5px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}
.select {
  margin-top: 20px;
  background: border-box;
  color: black;
  border-top: none;
  width: 200px;
  padding: 5px;
}